


@font-face {
    font-family: "Imprint";
    src: url("imprint.eot");
    src: url("imprint.eot?#iefix") format("embedded-opentype"),
         url("imprint.woff") format("woff"),
         url("imprint.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding:    0;
}

header {
    background: #be2a26;
    color:  #fff;
    padding:    6em 0;
}

header .web {
    color:  #dda;
}

header h1, header p {
    text-align: center;
}

h1 {
    font-family:    "Imprint", serif;
    font-size:      6em;
    font-weight:    normal;
    margin: 0;
}

header p {
    font-family:    "Open Sans";
}

